/* Web-font Pairings for Gotham

Sans-serif: Roboto, Open-sans, Circular, Poppins
Serif: Minion, Rokkit, Playfair-Display */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: transparent;
}

/* Background */

#bg-container {
    z-index: -1;
}

/* Header */

.header {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    width: 60%;
    height: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgb(3, 35, 87), rgb(74, 96, 221));
    border-radius: 0px 0px 50px 10px;
    padding-right: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    z-index: 2;
    /* visibility: hidden; */
}

.brand {
    display: block;
    width: 40%;
    height: 100%;
    margin-left: 2%;
    padding: 0;
    /* background: red; */
}

.brand img {
    display: block;
    margin: 0;
    width: 100%;
    height: 75%;
    /* background: yellow; */
}

.logos {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background: pink; */
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.logo-link {
    display: inline-block;

    width: 30%;
    height: 90%;
    margin: 15px 5px;
    /* background: rgb(14, 228, 228); */
}

.logos img {
    filter: brightness(0) invert(1);
}

.logo {
    width: 80%;
    height: 80%;
    padding: 7px;
    border-radius: 12px;
    /* background: red; */
}

.date {
    width: 100%;
    height: 25%;
    margin: 0;
    margin-bottom: 35px;
    margin-top: -10px;
    padding: 0;
    /* background :purple; */
    color: #fff;
    text-align: center;
    font-weight: 550;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-curve {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 41%;
    height: 8%;
    background-image: linear-gradient(to right, rgb(74, 96, 221), rgb(10, 25, 49));
    z-index: 1;
    border-radius: 0px 0px 20px 0px;
}

/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    /* visibility: hidden; */
    right: 0;
    width: 40%;
    height: 10%;
    background-image: linear-gradient(to right, rgb(10, 25, 49), rgb(26, 56, 228));
    border-radius: 90px 10px 0 0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    z-index: 2;
}

.socials {
    width: 40%;
    height: 100%;
    /* background: green; */
    text-align: right;
    margin: 0;
    padding: 0;
}

.socials * {
    display: inline-block;
    margin: 20px 1px;
    /* background: yellow; */
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-size: 14px;
}

.socials a:hover {
    color: rgb(230, 11, 77);
}

.socials p {
    font-weight: bold;
}

.social a:first-child {
    font-weight: bold;
}

.clg-links {
    width: 50%;
    height: 100%;
    /* background: blue; */
    text-align: left;
    margin: 0;
    padding: 0;
}

.clg-links * {
    display: inline-block;
    margin: 20px 4px;
    padding: 0;
    /* background: yellow; */
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-size: 14px;
}

.clg-links p {
    font-weight: bold;
}

.clg-links a:first-child:hover, .clg-links a:nth-child(2):hover{
    color: rgb(230, 11, 77);
    border-bottom: none;
}

.clg-links a:hover {
    border-bottom: 2px solid #fff;
}

.footer-curve {
    position: fixed;
    /* visibility: hidden; */
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 62%;
    height: 4%;
    background-image: linear-gradient(to left, rgb(10, 25, 49), rgb(46, 146, 228));
    z-index: 1;
    border-radius: 20px 0px 0px 0px;
}

@media screen and (max-width: 1200px) {
    .header {
        width: 70%;
    }

    .footer {
        width: 50%;
    }

    .footer-curve {
        width: 52%;
    }

    .clg-links *,
    .socials * {
        font-size: 14px;
    }
}

@media screen and (max-width: 940px) {
    .footer {
        width: 60%;
    }

    .header-curve {
        width: 40%;
    }

    .footer-curve {
        width: 42%;
    }

    .clg-links *,
    .socials * {
        font-size: 12px;
    }

    .socials p {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 100%;
        border-radius: 50px 50px 0px 0px;
    }

    .header-curve {
        width: 0%;
    }

    .footer-curve {
        width: 0%;
    }

    .clg-links *,
    .socials * {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    .header {
        width: 100%;
        padding-right: 0px;
        border-radius: 0px 0px 50px 50px;
    }

    .brand {
        margin-left: 0px;
    }

    .brand img {
        height: 70%;
    }

    .logo-link {
        width: 30%;
        /* background: green; */
        margin: 10px 5px;
    }

    .logo {
        padding: 5px 5px;
        border-radius: 10;
        height: 80%;
    }

    .date {
        line-height: 12px;
        font-size: 10px;
    }
}

@media screen and (max-width: 320px) {

    .socials *,
    .clg-links * {
        margin: 20px 2px;
    }

    .socials{
        text-align: right;
        width: 50%;
    }

    .clg-links{
        text-align: center;
    }
    
}